/Debug/
/Release/
/.xdchelp
/.config/
/.launches/
/.settings/
/targetConfigs/
/.ccsproject
/.cproject
/.project
/tm4c1231h6pm.cmd
/tm4c1231h6pm_startup_ccs.c
/tm4c123gh6pm.cmd
/tm4c123gh6pm_startup_ccs.c
/.metadata/
/0x*
/FLASH
/SRAM
/RemoteSystemsTempFiles
/.jxbrowser-data/*
/.vscode/*
/dvt/